{% load static %}


<div class="card mb-3 text-bg-light shadow-lg">
    {% for cart in carts %}
    <div class="card-header">
        <h5 class="card-title mb-0">{{cart.product.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row text-center align-items-center">
                <div class="col-4 col-md-3 p-0">
                    <div class="input-group input-group-sm quantity-control mx-auto" style="max-width">
                        
                            <button type="button" class="btn btn-outline-secondary btn-sm decrement"
                                data-cart-id="{{cart.id}}" 
                                data-cart-change-url="{% url "carts:cart_change" %}">
                                {% csrf_token %}
                                -</button>
                        
                        <input type="text" class="form-control text-center number" value="{{cart.quantity}}"
                            readonly>
                        
                            <button type="button" class="btn btn-outline-secondary btn-sm increment"
                                data-cart-id="{{cart.id}}" 
                                data-cart-change-url="{% url "carts:cart_change" %}">
                                {% csrf_token %}
                                +</button>
                        
                    </div>

                    
                </div>
                <div class="col-4 col-md-4 p-0">
                    <p class="mb-0">x {{cart.product.sell_price}} = </p>
                </div>
                <div class="col-3 col-md-3 p-0">
                    <strong class="text-primary">{{cart.products_price}} $</strong>
                </div>
                <div class="col-1 p-0">
                    <a href="{% url "cart:cart_remove" %}" class="remove-from-cart text-danger"
                    data-cart-id="{{cart.id}}">
                        {% csrf_token %}
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
<div class="card mb-3 border-0 shadow-sm">
    <div class="card-footer bg-light d-flex justify-content-between align-items-center">
        <p class="mb-0">Итого <strong>{{carts.total_quantity}}</strong> товар(а) на сумму:</p>
        <h4 class="mb-0"><strong class="text-primary">{{carts.total_price}} руб.</strong></h4>
    </div>
</div>
{% if carts and not order and not is_order_page %}
    <a class="btn btn-success btn-lg px-4" href="{% url "orders:create_order" %}">
        Оформить заказ
    </a>
{% endif %}