footer {

  width: 100%;
  background-color: #F8F9FA;
  padding: 2rem 0;
  color: #6C757D;
  border-top: 1px solid #E9ECEF;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.03);
}

footer p {
  margin: 0;
  color: #6C757D;
  font-size: 0.9rem;
}