{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="col-lg-10 text-center">
                    <h1 class="display-4 fw-bold mb-4 text-dark">DRY Tech: <span
                            class="text-primary">Эффективность</span> в каждой детали</h1>
                    <p class="lead text-secondary mb-5">Ваш надежный партнер в мире цифровой и бытовой техники. Мы
                        предлагаем только проверенные решения для вашего дома и работы.</p>
                    <div class="row gx-4 gy-4">
                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100 border-0 shadow-sm">
                                <img src="{% static "deps/images/sc.jpg" %}" class="card-img-top p-3"
                                    alt="Последние товары">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">Почти раскупили</h5>
                                    <p class="card-text text-muted">Товары пользующиеся спросом</p>
                                    <a href="#" class="btn btn-outline-primary mt-2">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100 border-0 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title text-dark more">Каталог</h5>
                                    <p class="card-text text-muted more1">Все товары DRY Tech</p>
                                    <a href="{% url "catalog:index" "all" %}" class="btn btn-outline-primary mt-2">Подробнее</a>
                                </div>
                                <img src="{% static "deps/images/catalog.webp" %}" class="card-img-top p-3" alt="Каталог">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100 border-0 shadow-sm">
                                <img src="{% static "deps/images/acs.webp" %}" class="card-img-top p-3"
                                    alt="Акции">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">Акции</h5>
                                    <p class="card-text text-muted">Не упустите выгодные скидки и акции!</p>
                                    <a href="#" class="btn btn-outline-primary mt-2">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}



